name: CD pipeline

on:
  push:
    branches:
      - "main" 
    paths:
      - '**.py'
      
jobs:
  build-deploy:
    name: checkout
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4 # More information on this action can be found below in the 'AWS Credentials' section
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: 049417293525.dkr.ecr.eu-central-1.amazonaws.com
          REPOSITORY: airflow
          IMAGE_TAG: version-${{ github.sha }}
        run: |
          docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG

      - name: Update GitOps repository
        shell: bash
        env:
          GIT_TOKEN: ${{ secrets.GITOPS_PAT }}
        run: |
          # Configure git credential store
          git config --global credential.helper store
          echo "https://${GIT_TOKEN}:x-oauth-basic@github.com" > ~/.git-credentials
          
          
          # Clone repository using HTTPS URL without token
          git clone https://github.com/Federated-Engineers/kubernetes-deployments.git kubernetes-deployments
          cd kubernetes-deployments/applications/airflow/
          
          if [[ "$OSTYPE" == "darwin"* ]]; then
            sed -i '' "s|tag: version-.*|tag: version-${{ github.sha }}|g" values.yaml
          else
            sed -i "s|tag: version-.*|tag: version-${{ github.sha }}|g" values.yaml
          fi
            
          # Commit changes
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add values.yaml
          git commit -m "Update image to version-${{ github.sha }}"
          
          # Push
          git push